*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.list{
    font-size: medium;
}
.title{
    font-size: xx-large;
    font-weight: 800;
    color: #cb7c2c;
}
h3{
    font-size: large;
    color: #7fb7be;
}
.description{
    margin: 20px;
    width: 400px;

}
.buttonHome{
    font-weight: 700;
    color: #dacc3e;
    background-color: #7fb7be;
}
